.homepage {
  min-height: 100vh;
  background-color: #ffffff;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  font-size: 1.125rem;
  color: #666;
}
